<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var firstModule = angular.module("firstSpace",[]);
        firstModule.controller("firstController",function ($scope) {
            $scope.Mert=0;
            $scope.StudentUserName="Ogrenci Kullanici adini giriniz.";
            $scope.deger=0;
            $scope.AdminUserName="Admin Kullanici adini giriniz";




        });




    </script>

    <style>

        .Studentdeneme{

            height: 200px;
            width: 200px;
            padding: 10px;
            font-size:20px;
            color:white;
            background:cornflowerblue;

        }

        .deneme2{
            height: 200px;
            width: 200px;
            padding: 10px;
            font-size:20px;
            color:white;
            background:black;

        }

    </style>

</head>
<body ng-app="firstSpace" ng-controller="firstController">
<button ng-click="deger=0">Student Login</button>
<button ng-click="deger=1">Admin Login</button>
<div ng-show="deger==0" class="Studentdeneme">
    <input type="text" ng-model="StudentUserName">

</div>
<div ng-show="deger==1" class="deneme2">
    <input type="text" ng-model="AdminUserName">

</div>
</body>
</html>