<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <title>Title</title>
    <script>
        var ilkKontrolMerkezi=angular.module("MyApp",[]);
        ilkKontrolMerkezi.controller("ilkKontrol",function ($scope) {

            $scope.birinciSayi="";
            $scope.ikinciSayi="";
            $scope.kutum=function () {
                alert($scope.birinciSayi+$scope.ikinciSayi);

            }

        })



    </script>





   <body ng-app="MyApp" ng-controller="ilkKontrol">  <!-Module ve Kontrol yapisi ile Toplama ->
   <input type="number" ng-model="birinciSayi">
   <input type="number" ng-model="ikinciSayi">
   <button ng-click="kutum()">topla</button>
   <h1>{{birinciSayi+ikinciSayi}}</h1>



</body>
</html>